<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
<!--<p>You got a new order from <%#= @order.name %>!</p>-->
<!--<p>-->
<!--  Order details<br>-->
<!--  ---------------------------->
<!--</p>-->
<p>Password: <%= @one_time_password %></p>
<!--<p>Email: <%#= @order.email %></p>-->
<!--<p>Address: <%#= @order.address %></p>-->
<!--<p>Phone: <%#= @order.phone %></p>-->
<!--<p>-->
<!--  Message:<br>-->
<!--  ------------>
<!--</p>-->
<!--<p><%#= @order.message %></p>-->
</body>
</html>